/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf");
    src: url("../fonts/Poppins-Regular.ttf");
}


/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: Poppins;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

 :focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}

.padding_0 {
    padding: 0px;
}

.bg-light {
    background-color: transparent!important;
}

.header_section {
  
    height: 1050px;
    background-size: 100%;
    width: 100%;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
}

.header_main {
    background: linear-gradient(45deg, transparent 46%, #d1bc98 46%);
    height: 100px;
}

.logo {
    width: 50%;
    float: left;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 18px;
    color:black;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #faf8f8;
}

.banner_section {
    width: 100%;
    float: left;
    background-image: url(anasyf.jpeg);
    height: 900px;
    background-size: 100%;
    margin-top: 10px;
    margin-bottom: 390px;
}

.banner_taital {
    width: 100%;
    float: left;
    font-size: 80px;
    color: #fdfdfe;
    text-align: center;
   
}

.box_main {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}


.who_text.active {
    color: #ffffff;
}

.who_text {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #000;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    z-index: 1;
    text-transform: uppercase;
}


.about_section {
    width: 100%;
    float: left;
    padding-top: 90px;
}

.about_img {
    width: 100%;
    float: left;
}

.like_icon {
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
    bottom: 30px;
}

.post_text {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #afafae;
    margin: 0px;
}

.most_text {
    width: 100%;
    float: left;
    font-size: 32px;
    color: #1a1a1a;
    padding-top: 20px;
    font-weight: bold;
}

.lorem_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #1a1a1a;
    margin: 0px;
}
.image_5 {
    width: 100%;
    float: left;
}

.about_taital {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #222222;
    font-weight: bold;
    padding-top: 30px;
}

.about_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #1a1a1a;
    margin: 0px;
}
.about_main {
    width: 100%;
    float: left;
    padding-top: 120px;
}

.input_box {
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 20px;
}

.input_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #1e1e1e;
    background-color: #ffffff;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 35px;
    height: auto;
    padding: 10px 35px 10px 20px;
    border: 3px solid #b4b4b4;
}

.image_6 {
    width: 90%;
    float: left;
}

.consectetur_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #0e0e0e;
    text-transform: uppercase;
    font-weight: 600;
}

.dolor_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #2b2b2b;
    margin: 0px;
}

.contact_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
    padding-top: 170px;
}

.contact_img {
    width: 100%;
    float: left;
    background-image: url(../images/contact-img.png);
    height: 488px;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #0e0e0e;
    font-weight: bold;
}

.mail_section {
    width: 100%;
    float: left;
    padding-left: 50px;
}

.email_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #dadada;
    background-color: #ffffff;
    border: 0px;
    padding: 10px 15px 10px 15px;
    height: auto;
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.19);
    margin-top: 20px;
}

input.email_text::placeholder {
    color: #dadada;
}

.massage_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #dadada;
    background-color: #ffffff;
    border: 0px;
    height: 90px;
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.19);
    margin-top: 20px;
    padding: 30px 15px 10px 15px;
}

textarea#comment::placeholder {
    color: #dadada;
}

.send_bt {
    width: 150px;
    float: left;
    margin-top: 40px;
}

.send_bt a {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    background-color: black;
    padding: 8px 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.send_bt a:hover {
    color: #ffffff;
    background-color:grey;
}



.carousel-indicators .active {
    background-color: #db5645;
}

.carousel-indicators {
    bottom: 550px;
    left: -400px;
}

.footer_section {
    width: 100%;
    float: left;
    background: linear-gradient(45deg, transparent 46%, #d1bc98 46%);
    height: auto;
    padding-bottom: 50px;
}

.footer_logo {
    width: 100%;
    float: left;
    text-align: center;
}

.footer_menu {
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 40px;
}

.footer_menu ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    text-align: center;
}

.footer_menu li {
    float: left;
    font-size: 18px;
    color:black;
    padding: 0px 20px;
    
}

.footer_menu li a {
    color: black;
}

.footer_menu li a:hover {
    color:black;
}

.contact_menu {
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 40px;
}

.contact_menu ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    text-align: center;
}

.contact_menu li {
    float: initial;
    font-size: 18px;
    color: #000000;
    padding: 5px 20px;
    text-align: center;
}

.contact_menu li a {
    color: #000000;
}

.contact_menu li a:hover {
    color: #d6d0d0;
}

.copyright_section {
    width: 100%;
    float: left;
    background-color: #171717;
    height: auto;
}

.copyright_text {
    width: 60%;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
    color: #a3a3a3;
    border-top: 1px solid #969696;
    padding: 15px 0px;
}

.copyright_text a {
    color: #a3a3a3;
}

.copyright_text a:hover {
    color: #ffffff;
}

.margin_top_90 {
    margin-top: 90px;
}